
page-home {

    ion-content{
        background-image: url(../assets/imgs/birthdayback.jpg);
        font-family: Georgia, 'Times New Roman', Times, serif;
        
    }

    #from{
        font-style: italic;
        color: navajowhite;
    }

    #massage{
        padding-top: 150px;
        font-size: 30px;
        font-style: italic;
        text-align: center;
        color: navajowhite;
    }

    #to{

        padding-top: 150px;
        text-align: right;
        font-style: italic;
        color: navajowhite;
    }
    
    }